blessings==1.6
bottle==0.12.13
bpython==0.16
certifi==2017.7.27.1
chardet==3.0.4
curtsies==0.2.11
greenlet==0.4.12
idna==2.5
krakenex==0.1.4
Pygments==2.2.0
requests==2.18.3
six==1.10.0
urllib3==1.22
wcwidth==0.1.7
